@import "bootstrap-sprockets";
@import "bootstrap";

/* universal styles */

body {
  min-width: 408px;
  /* background-color: #304040; */
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

center {
  text-align: center;
}

.page-footer {
  color: #eeeeee;
}
/* navbar */

.invaders-dropdown {
  margin-right: 3px;
}

/* typography */

h2 {
  text-align: center;
}

/* player area */
.player-section {
  background-color: #eeeeee;
  border-radius: 6px;
}

.player {
  text-align: center;
  max-width: 400px;
  display: none;
  min-width: 188px;
}

img {
  width: 50px;
  height: 50px;
}

.game-started {
  display: none;
}

.score-input {
  max-width: 35px;
}

.faction-icon {
  width: 100px;
  height: 100px;
  padding-bottom: 10px;
}